<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <span class="modal-title">&nbsp;</span>
</div>
<div class="modal-body">
    <ul>
        <li translate="reading.confirm.delete.label"></li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">
        <span class="glyphicon glyphicon-ban-circle"></span>
        &nbsp;
        <span translate="global.messages.action.cancel"></span>
    </button>
    <button type="button" ng-click="ok()" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-circle"></span>
        &nbsp;
        <span translate="global.messages.action.delete"></span>
    </button>
</div>
