<div>
    <button ng-if="isAuthenticated()" class="btn btn-primary btn-sm" ui-sref="reading.edit({id:-1})">
        <span class="fa fa-plus"></span>
        {{'global.messages.action.create' | translate}}
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="reading.grid.author"></th>
                <th translate="reading.grid.title"></th>
                <th translate="reading.grid.bodyLang"></th>
                <th translate="reading.grid.transcriptLang"></th>
                <th translate="reading.grid.tags"></th>

                <th style="width: 200px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reading in readings">
                <td><a ui-sref="reading.view({id:reading.id})">{{reading.title}}</a></td>
                <td>{{reading.author}}</td>
                <td>{{'language.' + reading.bodyLang | translate}}</td>
                <td>{{'language.' + reading.transcriptLang | translate}}</td>
                <td>{{reading.tags | arrayToString}}</td>

                <td style="text-align: right;">
                    <button ng-if="isReadingEditAllowed(reading)"
                            ui-sref="reading.edit({id:reading.id})"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{'global.messages.action.edit' | translate}}
                    </button>
                    <button ui-sref="reading.view({id:reading.id})"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{'global.messages.action.open' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row" style="margin-left:16px">
            <ng-pagination page="page"
                           limit="limit"
                           links="links"
                           load-page="loadPage"
                           hide-if-limit-count="totalCount"></ng-pagination>
        </div>
    </div>
</div>
