<form ng-if="reading" name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="save()">

    <div class="modal-body">
        <div id="readingModalReading" class="form-inline">
            <div class="row">
                <div class="form-group">
                    <label translate="reading.grid.title"></label>
                    <input ng-if="!isAnonymous()"
                           type="text"
                           class="form-control"
                           ng-model="reading.title">
                    <span ng-if="isAnonymous()">{{reading.title}}</span>
                </div>
                <div class="form-group">
                    <label translate="reading.grid.author"></label>
                    <input ng-if="!isAnonymous()" type="text" class="form-control" ng-model="reading.author">
                    <span ng-if="isAnonymous()">{{reading.author}}</span>
                </div>
                <div ng-if="!isAnonymous()" class="form-group">
                    <label translate="reading.grid.transcriptLang"></label>
                    <select class="form-control" ng-model="reading.transcriptLang">
                        <option value="et">{{'language.et' | translate}}</option>
                        <option value="en">{{'language.en' | translate}}</option>
                    </select>
                </div>
            </div>
            <div ng-if="!isAnonymous() || reading.copyright" class="row" style="margin-top:10px;">
                <div class="form-group" style="width:100%">
                    <label translate="reading.grid.copyright"></label>
                    <textarea ng-if="!isAnonymous()" class="form-control" style="width: 50%;"
                              ng-model="reading.copyright"></textarea>
                    <span ng-if="isAnonymous()">{{reading.copyright}}</span>
                </div>
            </div>
        </div>

        <!--
        <div ng-if="gridOptions" id="grid1" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-cellNav class="grid"></div>
        -->

        <div class="table-responsive" id="readingModalParagraphs">
            <table class="table table-striped">
                <tbody>
                <tr ng-switch="isAnonymous()" ng-repeat="item in reading.readingParagraphs">
                    <td>
                        <div ng-if="item.audio">
                            <egd-audio src="getAudioResource(item.audio.id)"/>
                        </div>
                        <div ng-switch-when="true">
                            {{item.txt}}
                        </div>
                        <div ng-switch-when="false">
                            <textarea auto-grow style="height:100%" class="form-control" ng-model="item.txt"></textarea>
                        </div>
                    </td>
                    <td ng-switch-when="true">
                        {{item.transcript}}
                    </td>
                    <td ng-switch-when="false">
                        <textarea auto-grow style="height:100%" class="form-control" ng-model="item.transcript"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit"
                ui-sref="reading"
                class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            {{'global.messages.action.back' | translate}}
        </button>

        <button ng-if="!isAnonymous()" type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>
            {{'global.messages.action.save' | translate}}
        </button>
    </div>
</form>


<style>
    div#readingModalParagraphs {
        font-size: 1.5em;
    }
    div#readingModalReading div.form-group label {
        width:100px;
        text-align: right;
        margin-right: 5px;
    }
    div#readingModalReading div.form-group input {
        width:300px;
    }
    div#readingModalParagraphs {
        margin-top:10px;
    }
</style>
