<form ng-submit="submit()" name="form" role="form" novalidate show-validation>
    <div class="row">
        <div class="col-lg-4">
            <button type="button"
                    ui-sref="reading"
                    class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                {{'global.messages.action.back' | translate}}
            </button>
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-sm">
                <span class="fa fa-save"></span>
                {{'global.messages.action.save' | translate}}
            </button>
        </div>
        <div class="col-lg-4">
            <ng-message-success show="success" i18n="'global.messages.success.saved'"></ng-message-success>
            <ng-message-danger show="error" i18n="'global.messages.error.saveError'"></ng-message-danger>
        </div>
        <div class="col-lg-4 text-right">
            <button type="button" class="btn btn-danger btn-sm"
                    ng-click="deleteReadingConfirm()"
                    translate="global.messages.action.delete">
            </button>
        </div>
    </div>
    <div class="row" ng-if="reading.audioSha">
        <div class="col-lg-12">

        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label translate="reading.grid.title"></label>
                <input type="text"
                       name="title"
                       class="form-control"
                       ng-model="reading.title"
                       ng-minlength=1
                       ng-maxlength=100
                       maxlength="100"
                       required/>
                <div ng-show="form.title.$dirty && form.title.$invalid">
                    <p class="help-block"
                       ng-show="form.title.$error.required"
                       translate="global.messages.validate.required"></p>
                    <p class="help-block"
                       ng-show="form.title.$error.maxlength"
                       translate-values="{max: 100}"
                       translate="global.messages.validate.maxlength"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label translate="reading.grid.author"></label>
                <input type="text"
                       name="author"
                       class="form-control"
                       ng-model="reading.author"
                       ng-minlength=1
                       ng-maxlength=100
                       maxlength="100"
                       required/>
                <div ng-show="form.author.$dirty && form.author.$invalid">
                    <p class="help-block"
                       ng-show="form.author.$error.required"
                       translate="global.messages.validate.required"></p>
                    <p class="help-block"
                       ng-show="form.author.$error.maxlength"
                       translate-values="{max: 100}"
                       translate="global.messages.validate.maxlength"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label>
                    <span translate="reading.grid.copyright"></span>
                    <ng-tip i18n="'reading.grid.copyright.tip'" placement="bottom"></ng-tip>
                </label>
                <textarea class="form-control"
                          name="copyright"
                          ng-model="reading.copyright"
                          ng-maxlength=160
                          maxlength="160"></textarea>
                <div ng-show="form.copyright.$dirty && form.copyright.$invalid">
                   <p class="help-block"
                       ng-show="form.copyright.$error.maxlength"
                       translate-values="{max: 160}"
                       translate="global.messages.validate.maxlength"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label>
                    <span translate="reading.grid.shared"></span>
                    <ng-tip i18n="'reading.grid.shared.tip'" placement="right"></ng-tip>
                </label>
                <div class="inline-group-control">
                    <input type="checkbox" ng-model="reading.shared" style="vertical-align: middle;"/>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label>
                    <span translate="reading.grid.audio"></span>
                    <ng-tip i18n="'reading.grid.audio.tip'" placement="top"></ng-tip>
                </label>
                <div class="inline-group-control" style="padding-top:4px;">
                    <input id="readingAudioFile" type="file" file-model="audioFile" />
                    <button ng-show="audioFile" type="button" class="btn btn-danger btn-xs" ng-click="removeFile()">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span translate="global.messages.action.remove"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label>
                    <label translate="reading.grid.summary"></label>
                    <ng-tip i18n="'reading.grid.summary.tip'" placement="bottom"></ng-tip>
                </label>
                <textarea class="form-control"
                          name="summary"
                          ng-model="reading.summary"
                          ng-maxlength=160
                          maxlength="160"></textarea>
                <div ng-show="form.summary.$dirty && form.summary.$invalid">
                    <p class="help-block"
                       ng-show="form.summary.$error.maxlength"
                       translate-values="{max: 160}"
                       translate="global.messages.validate.maxlength"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group inline-group">
                <label>
                    <label translate="reading.grid.tags"></label>
                    <ng-tip i18n="'reading.grid.tags.tip'" placement="bottom"></ng-tip>
                </label>

                <div class="inline-group-control">
                    <tags-input ng-model="reading.tags"
                                placeholder="{{'reading.grid.tags.placeholder' | translate}}"
                                replace-spaces-with-dashes="false">
                        <auto-complete source="loadTags($query)"></auto-complete>
                    </tags-input>
                </div>



                <div ng-show="form.author.$dirty && form.author.$invalid">
                    <p class="help-block"
                       ng-show="form.author.$error.required"
                       translate="global.messages.validate.required"></p>
                    <p class="help-block"
                       ng-show="form.author.$error.maxlength"
                       translate-values="{max: 100}"
                       translate="global.messages.validate.maxlength"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 text-center">
            <h4>
                <span translate="reading.grid.body"></span>
                <ng-tip i18n="'reading.grid.body.tip'" placement="top"></ng-tip>
            </h4>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <select ng-model="reading.bodyLang"
                        name="bodyLang"
                        class="form-control"
                        ng-options="item as ('language.' + item | translate) for item in languages"
                        required>
                    <option value=""></option>
                </select>
                <div ng-show="form.bodyLang.$dirty && form.bodyLang.$invalid">
                    <p class="help-block"
                       ng-show="form.bodyLang.$error.required"
                       translate="global.messages.validate.required"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 text-center">
            <h4>
                <span translate="reading.grid.transcript"></span>
                <ng-tip i18n="'reading.grid.transcript.tip'" placement="top"></ng-tip>
            </h4>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
                <select ng-model="reading.transcriptLang"
                        name="transcriptLang"
                        class="form-control"
                        ng-options="item as ('language.' + item | translate) for item in languages"
                        required>
                    <option value=""></option>
                </select>
                <div ng-show="form.transcriptLang.$dirty && form.transcriptLang.$invalid">
                    <p class="help-block"
                       ng-show="form.transcriptLang.$error.required"
                       translate="global.messages.validate.required"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <textarea class="form-control"
                          name="body"
                          auto-grow
                          required
                          ng-model="reading.body"></textarea>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <textarea class="form-control"
                          name="transcript"
                          auto-grow
                          required
                          ng-model="reading.transcript"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button"
                ui-sref="reading"
                class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
            {{'global.messages.action.back' | translate}}
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-success btn-sm">
            <span class="fa fa-save"></span>
            {{'global.messages.action.save' | translate}}
        </button>
    </div>
</form>
