<div ng-if="!audio.canPlay" class=col-md-offset-4>
    Sound is loading, or you are viewing this on a device that doesn't support the <code>canPlay</code> property.
</div>
<div ng-if="audio.error" class="col-md-offset-4">
    Error playing this sound.
</div>
<div ng-if="!audio.error" class="input-group" style="width:100%;;">
    <div class="input-group-btn">
        <button class="btn btn-primary btn-xs"
                style="width: 70px;border-radius: 4px;"
                type="button"
                ng-click="audio.paused ? audio.play() : audio.pause()">
            {{audio.paused ? "Play" : "Pause" }}
        </button>
    </div>
    <input class="form-control" type="range"
           style="margin-left:8px;margin-top: 3px;height: 15px;width: 100%"
           min="0" max="1" step="0.001"
           ng-model="audio.progress">
</div>
