<div id="gridJpWR">
    <div ng-if="rows.length > 0" class="gridEntr" ng-repeat="item in rows">
        <div class="entrHeader">
            <span ng-if="item.rdng != null" class="gridRdng" ng-repeat="rdng in item.rdng">
                <span ng-if="$index > 0">・</span>{{rdng}}
            </span>

            <span class="kanj" ng-if="item.kanj != null">
                <span class="jpSulg">【</span>
                <span ng-repeat="kanj in item.kanj">
                    <span ng-if="$index > 0">・</span>
                    <a class="clean"
                       href="http://www.romajidesu.com/dictionary/meaning-of-{{kanj}}.html"
                       target="_blank">{{kanj}}</a>
                </span>
                <span class="jpSulg">】</span>
            </span>
        </div>
        <div class="glossWR" ng-if="item.sens.length > 0">
            <div class="gridGloss" ng-repeat="sens in item.sens">
                <span class="rownum">{{$index + 1}}.</span>
                <span>{{sens.gloss}}</span>

                <div class="sensSentenceWR" ng-if="sens.sentences.length > 0">
                    <div class="gridSentence" ng-repeat="sentence in sens.sentences">
                        <span class="jpSentence">{{sentence.jpSentence.jp}}</span>
                        <span class="enSentence">{{sentence.jpSentence.enSentence.en}}</span>

                        <div ng-if="sentence.jpSentence.audio" style="margin-right: 10px;">
                            <egd-audio src="getAudioResource(sentence.jpSentence.audio.id)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="glossWR" ng-if="item.sens.length < 1">
            <i>{{'dictionary.notTranslated' | translate}}</i>
        </div>
    </div>
    <div ng-if="rows.length < 1">
        <i style="margin-top: 5px;float: left;">{{'dictionary.unknownWord' | translate}}</i>
    </div>
</div>
<style>
    div#gridJpWR {
        width:600px;
    }
    span.kanj span.jpSulg {
        font-size: 1.7em;
    }
    span.gridRdng, span.kanj span a {
        font-size: 1.5em;
    }

    a.clean + a.clean, span.gridRdng + span.gridRdng {
        margin-left:7px;
    }
    div.gridData {
        margin-top:7px;
    }
    div.gridEntr {
        width: 600px;
        border: 2px solid #bfbfbf;
        float: left;
        padding:10px;
    }

    div.gridEntr + div.gridEntr {
        margin-top:10px;
    }

    div.gridEntr div.entrHeader, div.glossWR, div.gridGloss {
        width:100%;
    }

    div.gridGloss + div.gridGloss {
        margin-top:3px;
    }

    div.gridSentence {
        margin-left:40px;
        margin-top:4px;
    }

    span.rownum {
        margin-right:5px;
    }

    span.jpSentence {
        color: #600;
    }

    span.enSentence {
        color: #600;
    }

    div.glossWR {
        margin-top:10px;
        float:left;
    }

</style>
