<div id="gridJaWR">
    <div class="gridEntr" ng-repeat="item in rows">
           {{item}}
    </div>
    <div id="noResponse" ng-if="!gridVisible && searchNotInProgress">
        <i>{{'dictionary.unknownWord' | translate}}</i>
    </div>
</div>
<style>
    div#noResponse {
        margin-top: 8px;
    }
    div#gridJaWR {
        width:600px;
    }
    span.kanj span.jpSulg {
        font-size: 1.7em;
    }
    span.gridRdng, span.kanj span a {
        font-size: 1.5em;
    }

    a.clean + a.clean, span.gridRdng + span.gridRdng {
        margin-left:7px;
    }
    div.gridData {
        margin-top:7px;
    }
    div.gridEntr {
        width: 600px;
        border: 2px solid #bfbfbf;
        float: left;
        padding:10px;
    }

    div.gridEntr + div.gridEntr {
        margin-top:10px;
    }

    div.gridEntr div.entrHeader, div.glossWR, div.gridGloss {
        width:100%;
    }

    div.gridGloss + div.gridGloss {
        margin-top:3px;
    }

    div.gridSentence {
        margin-left:40px;
        margin-top:4px;
    }

    span.rownum {
        margin-right:5px;
    }

    span.jpSentence {
        color: #600;
    }

    span.enSentence {
        color: #600;
    }

    div.glossWR {
        margin-top:10px;
        float:left;
    }

</style>
