<table id="hiraganaTable">
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('あ')" class="mw-redirect">あ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('い')" class="mw-redirect">い</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('う')" class="mw-redirect">う</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('え')" class="mw-redirect">え</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('お')" class="mw-redirect">お</a></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('か')" class="mw-redirect">か</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('き')" class="mw-redirect">き</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('く')" class="mw-redirect">く</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('け')" class="mw-redirect">け</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('こ')" class="mw-redirect">こ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('きゃ')" class="mw-redirect">きゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('きゅ')" class="mw-redirect">きゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('きょ')" class="mw-redirect">きょ</a></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('さ')" class="mw-redirect">さ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('し')" class="mw-redirect">し</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('す')" class="mw-redirect">す</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('せ')" class="mw-redirect">せ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('そ')" class="mw-redirect">そ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('しゃ')" class="mw-redirect">しゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('しゅ')" class="mw-redirect">しゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('しょ')" class="mw-redirect">しょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('た')" class="mw-redirect">た</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ち')" class="mw-redirect">ち</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('つ')" class="mw-redirect">つ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('て')" class="mw-redirect">て</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('と')" class="mw-redirect">と</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ちゃ')" class="mw-redirect">ちゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ちゅ')" class="mw-redirect">ちゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ちょ')" class="mw-redirect">ちょ</a></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('な')" class="mw-redirect">な</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('に')" class="mw-redirect">に</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぬ')" class="mw-redirect">ぬ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ね')" class="mw-redirect">ね</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('の')" class="mw-redirect">の</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('にゃ')" class="mw-redirect">にゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('にゅ')" class="mw-redirect">にゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('にょ')" class="mw-redirect">にょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('は')" class="mw-redirect">は</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ひ')" class="mw-redirect">ひ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ふ')" class="mw-redirect">ふ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('へ')" class="mw-redirect">へ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ほ')" class="mw-redirect">ほ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ひゃ')" class="mw-redirect">ひゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ひゅ')" class="mw-redirect">ひゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ひょ')" class="mw-redirect">ひょ</a></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ま')" class="mw-redirect">ま</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('み')" class="mw-redirect">み</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('む')" class="mw-redirect">む</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('め')" class="mw-redirect">め</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('も')" class="mw-redirect">も</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('みゃ')" class="mw-redirect">みゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('みゅ')" class="mw-redirect">みゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('みょ')" class="mw-redirect">みょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('や')" class="mw-redirect">や</a></td>
        <td></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ゆ')" class="mw-redirect">ゆ</a></td>
        <td></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('よ')" class="mw-redirect">よ</a></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ら')" class="mw-redirect">ら</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('り')" class="mw-redirect">り</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('る')" class="mw-redirect">る</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('れ')" class="mw-redirect">れ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ろ')" class="mw-redirect">ろ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('りゃ')" class="mw-redirect">りゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('りゅ')" class="mw-redirect">りゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('りょ')" class="mw-redirect">りょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('わ')" class="mw-redirect">わ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ゐ')" class="mw-redirect">ゐ</a></td>
        <td></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ゑ')" class="mw-redirect">ゑ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('を')" class="mw-redirect">を</a></td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>
    <tr>
        <td colspan="8" class="singleKana" style="text-align: left;"><a href="javascript:void(0)" ng-click="onLetterClick('ん')" class="mw-redirect">ん</a></td>
    </tr>
    <tr>
        <td colspan="8"></td>
    </tr>

    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('が')" class="mw-redirect">が</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぎ')" class="mw-redirect">ぎ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぐ')" class="mw-redirect">ぐ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('げ')" class="mw-redirect">げ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ご')" class="mw-redirect">ご</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぎゃ')" class="mw-redirect">ぎゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぎゅ')" class="mw-redirect">ぎゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぎょ')" class="mw-redirect">ぎょ</a></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ざ')" class="mw-redirect">ざ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('じ')" class="mw-redirect">じ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ず')" class="mw-redirect">ず</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぜ')" class="mw-redirect">ぜ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぞ')" class="mw-redirect">ぞ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('じゃ')" class="mw-redirect">じゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('じゅ')" class="mw-redirect">じゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('じょ')" class="mw-redirect">じょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('だ')" class="mw-redirect">だ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぢ')" class="mw-redirect">ぢ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('づ')" class="mw-redirect">づ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('で')" class="mw-redirect">で</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ど')" class="mw-redirect">ど</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぢゃ')" class="mw-redirect">ぢゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぢゅ')" class="mw-redirect">ぢゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぢょ')" class="mw-redirect">ぢょ</a></td>
    </tr>
    <tr>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ば')" class="mw-redirect">ば</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('び')" class="mw-redirect">び</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぶ')" class="mw-redirect">ぶ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('べ')" class="mw-redirect">べ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぼ')" class="mw-redirect">ぼ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('びゃ')" class="mw-redirect">びゃ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('びゅ')" class="mw-redirect">びゅ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('びょ')" class="mw-redirect">びょ</a></td>
    </tr>
    <tr>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぱ')" class="mw-redirect">ぱ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぴ')" class="mw-redirect">ぴ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぷ')" class="mw-redirect">ぷ</a></td>
        <td class="singleKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぺ')" class="mw-redirect">ぺ</a></td>
        <td class="singleKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぽ')" class="mw-redirect">ぽ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぴゃ')" class="mw-redirect">ぴゃ</a></td>
        <td class="multiKana dark"><a href="javascript:void(0)" ng-click="onLetterClick('ぴゅ')" class="mw-redirect">ぴゅ</a></td>
        <td class="multiKana"><a href="javascript:void(0)" ng-click="onLetterClick('ぴょ')" class="mw-redirect">ぴょ</a></td>
    </tr>
</table>

<style>
    table#hiraganaTable {
        vertical-align: top;
        padding: 2px;
        background-color: #f5f5f5;
        border: 2px solid #bfbfbf;
        width: 300px;
    }

    table#hiraganaTable tr td {
        text-align: center;
        vertical-align: middle;
    }

    table#hiraganaTable tr td a {
        text-decoration: none;
        font-size: 1.4em;
    }

    td.singleKana a {
        color:#4e4e4e;
    }
    td.multiKana a {
        color:#7ea700;
    }
    td.dark {
        background-color:#e2e2e2;
    }
</style>