.tmp/
/tmp/
/node
/node_modules

/src/main/resources/git.properties
/src/main/webapp/dist/
src/main/webapp/bower_components/
/.idea
/*.iml
.classpath
.project
.settings
.merge_file*
.sass-cache
.DS_Store
.gradle
build

/.settings
/target/
/.classpath
/.project

*.log
