# you should create secret-[profile].yml for each profile (for example: secret-dev.yml and secret-prod.yml)
# security configuration (this key should be unique for your application, and kept secret)
app.security.rememberme.key: remembermeKey

spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/egd
        username: egdrole
        password: changeit
        #jndi: java:comp/env/jdbc/egd # url/username/pw are not needed in production conf file

    social:
        # see https://developers.google.com/+/web/signin/server-side-flow#step_1_create_a_client_id_and_client_secret
        google:
            clientId: myid
            clientSecret: [secret]

        facebook:
            clientId: myid
            clientSecret: [secret]

microsoft:
    translate-service:
        id: myid
        secret: [secret]
