# you should create secret-[profile].yml for each profile (for example: secret-dev.yml and secret-prod.yml)

app.files.path: /my-linux-folder-on-same-mount-as-working-dir/

mail:
    host: localhost
    port: 25
    username:
    password:
    protocol: smtp
    tls: false
    auth: false
    from: egd@localhost

spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/egd
        username: egdrole
        password: changeit
        #jndi: java:comp/env/jdbc/egd # url/username/pw are not needed in production conf file

    social:
        # see https://developers.google.com/+/web/signin/server-side-flow#step_1_create_a_client_id_and_client_secret
        google:
            clientId: myid
            clientSecret: [secret]

        facebook:
            clientId: myid
            clientSecret: [secret]

        # see https://dev.twitter.com/web/sign-in/implementing
        twitter:
            clientId: myid
            clientSecret: [secret]

microsoft:
    translate-service:
        clientId: myid
        clientSecret: [secret]
