<div>
    <button ng-if="!isAnonymous()" class="btn btn-primary" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span>
        {{'global.messages.action.create' | translate}}
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="reading.grid.author"></th>
                <th translate="reading.grid.title"></th>
                <th translate="reading.grid.transcriptLang"></th>
                <th ng-if="!isAnonymous()" translate="reading.grid.copyright"></th>

                <th ng-if="!isAnonymous()" style="width: 180px;" translate="reading.grid.lastModified"></th>
                <th ng-if="!isAnonymous()" style="width: 180px;" translate="reading.grid.created"></th>

                <th style="width: 200px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="reading in articles">
                <td><a ui-sref="articleDetail({id:reading.id})">{{reading.title}}</a></td>
                <td>{{reading.author}}</td>
                <td>{{'language.' + reading.transcriptLang | translate}}</td>
                <td ng-if="!isAnonymous()">{{reading.copyright}}</td>

                <td ng-if="!isAnonymous()">{{reading.formattedLastModifiedDate}} - {{reading.lastModifiedBy}}</td>
                <td ng-if="!isAnonymous()">{{reading.formattedCreatedDate}} - {{reading.createdBy}}</td>

                <td style="text-align: right;">
                    <button ng-if="isArticleUpdateAllowed(reading)"
                            ng-click="open(reading.id)"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{'global.messages.action.edit' | translate}}
                    </button>
                    <button ng-if="isArticleDeleteAllowed(reading)"
                            ng-really-message="{{'grid.confirm' | translate}}"
                            ng-really-click="delete(reading.id)"
                            class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        {{'global.messages.action.delete' | translate}}
                    </button>
                    <button ng-if="isAnonymous()"
                            ng-click="open(reading.id)"
                            class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {{'global.messages.action.view' | translate}}
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row" style="margin-left:16px">
            <egd-pagination page="page"
                            limit="limit"
                            links="links"
                            load-page="loadPage"
                            hide-if-limit-count="totalCount"></egd-pagination>
        </div>
    </div>
</div>
