/* Add some nice box-shadow-ness to the dialogues */
.ui-tooltip-dialogue {
    max-width: 620px;
    min-width: 210px;

    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}

.ui-tooltip-dialogue .ui-tooltip-content {
    padding: 10px;
}

.ui-tooltip-dialogue button {
    float: left;
    width: 47%;
    margin-right: 10px;
    padding: 3px 0;

    text-align: center;
    font-size: 10.5px;
}

.ui-tooltip-dialogue button + button {
    float: right;
    margin-right: 0;
}

.ui-tooltip-dialogue input {
    width: 95%;
    padding: 3px 0 3px 5px;
    margin-bottom: 7px;

    font-size: 10.5px;
}

.ui-tooltip-dialogue button.full {
    float: none;
    width: 100%;
}

div.ui-tooltip-tipsy {
    font-size: 1em;
    padding:3px;
    line-height: 18px;

    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;


}

div.qtip-default div.qtip-titlebar {
    background-color: #505050;
    padding: 12px 35px 5px 10px;
    margin-right: -4px;
}

div.qtip {
    max-width: 620px;
}
