div#alert-wr {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    position: absolute;
    z-index: 10000;
    margin-top: 15px;
}

div.container {
    width:98%;
}

.navbar {
    border-radius: 0;
    margin-bottom: 15px;
}

div.footer {
    width: 100%;
    text-align: center;
    margin-bottom:10px;
    font-size: 0.7em;
}

div.footer span + span {
    margin-left:25px;
}
