.japanese {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

div#egd-content {
    background: #f5f5f5 url("../images/flowers-left.png") no-repeat right bottom;
    float: left;
    width: 100%;
    min-height: 570px;
}

div#alert-wr {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    position: absolute;
    z-index: 10000;
    margin-top: 33px;
}

div#alert-wr > div > button.ng-hide:not(.ng-animate) {
    display: inherit!important;
}

.select2 > .select2-choice.ui-select-match {
    height: 29px;
}

.selectize-control > .selectize-dropdown {
    top: 36px;
}
div.selectize-control > div.selectize-input {
    height: 34px;
    position: initial;
}
div.ui-select-container {
    display: inline-block;
    vertical-align: middle;
}

input[type=password], input.secure {
    background-color: rgb(250, 255, 189);
}

div.egd-main-intro {
    margin-left: 11%;
    float: left;
    margin-top: 6%;
    width: 50%;
}

div.egd-main-intro p {
    font-size: large;
    font-style: italic;
    color: rgb(75, 75, 75);
}

div.egd-main-intro p + p {
    margin-top:20px;
}

h2.id a {
    display: block;
    padding: 5px 0 5px 100px;
    background: url(../images/eid/id-kaart-logo-uus.png) no-repeat 0 0;
    font-size: 20px;
    font-weight: bold;
}

table.reading-rows > tbody > tr > td {
    padding:5px;
    vertical-align: top;
    white-space:pre-wrap;
}

table.reading-rows > tbody > tr > td.left {
    font-size: 1.5em;
    padding-left:20px;
    max-width: 80%;
}

table.reading-rows > tbody > tr > td.right {
    padding-right:10px;
}




div.thumbnail > div.category {
    background: #777;
    color: #eee;
    font-size: smaller;
    font-style: italic;
    padding: 10px;
}

#content div.thumbnail > div.category {
    background: #777;
    color: #eee;
    font-size: smaller;
    font-style: italic;
    padding: 10px;
}

.icon-tag {
    background-position: 0 -48px;
}

#content div.thumbnail > div.category > a, #content div.thumbnail > div.category > a:hover {
    color: #eee;
}

#content div.thumbnail > div.caption {
    line-height: 1.2;
    padding: 13px;
}

p.post-date {
    color: #777;
    font-size: smaller;
}

#content div.thumbnail > div.caption hr {
    border-style: dotted;
}

.reading-thumbnail-buttons {
    margin-bottom: 0;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

div#readingEditTabs > div > ul.nav-tabs {
    margin-right: 10px;
}

a.reading-page-add {
    height: 40px;
    width: 40px;
    margin-left:10px;
}

a.reading-page-add > i {
    margin-top: 14px;
    margin-left: 13px;
}
