<img onclick="jcqtip(this, 'tipCfEtSonaliik')" src="proj/egd/qtip/info.gif"/>
<div id="tipCfEtSonaliik" style="display:none;">
    <table>
        <tr><td>n</td><td><label ng-translate="dictAbbr.et.pos.n"></label></td></tr>
        <tr><td>arvs</td><td><label ng-translate="dictAbbr.et.pos.arvs"></label></td></tr>
        <tr><td>adj</td><td><label ng-translate="dictAbbr.et.pos.adj"></label></td></tr>
        <tr><td>ases</td><td><label ng-translate="dictAbbr.et.pos.ases"></label></td></tr>
        <tr><td>v</td><td><label ng-translate="dictAbbr.et.pos.v"></label></td></tr>
        <tr><td>kaas</td><td><label ng-translate="dictAbbr.et.pos.kaas"></label></td></tr>
        <tr><td>hüüd</td><td><label ng-translate="dictAbbr.et.pos.huud"></label></td></tr>
        <tr><td>side</td><td><label ng-translate="dictAbbr.et.pos.side"></label></td></tr>
        <tr><td>adv</td><td><label ng-translate="dictAbbr.et.pos.adv"></label></td></tr>
    </table>
</div>
