<div id="tipCfJpCategory">
    <table>
        <tr><td>n</td><td><label ng-translate="classifier.cfJpCategory.n"></label></td></tr>
        <tr><td>n_</td><td><label ng-translate="classifier.cfJpCategory.n_"></label></td></tr>
        <tr><td>compd</td><td><label ng-translate="classifier.cfJpCategory.compd"></label></td></tr>
        <tr><td>v1</td><td><label ng-translate="classifier.cfJpCategory.v1"></label></td></tr>
        <tr><td>v2</td><td><label ng-translate="classifier.cfJpCategory.v2"></label></td></tr>
        <tr><td>v3</td><td><label ng-translate="classifier.cfJpCategory.v3"></label></td></tr>
        <tr><td>adj1</td><td><label ng-translate="classifier.cfJpCategory.adj1"></label></td></tr>
        <tr><td>adj2</td><td><label ng-translate="classifier.cfJpCategory.adj2"></label></td></tr>
        <tr><td>pron</td><td><label ng-translate="classifier.cfJpCategory.pron"></label></td></tr>
        <tr><td>adv</td><td><label ng-translate="classifier.cfJpCategory.adv"></label></td></tr>
        <tr><td>conj</td><td><label ng-translate="classifier.cfJpCategory.conj"></label></td></tr>
        <tr><td>part</td><td><label ng-translate="classifier.cfJpCategory.part"></label></td></tr>
        <tr><td>interj</td><td><label ng-translate="classifier.cfJpCategory.interj"></label></td></tr>
        <tr><td>pref</td><td><label ng-translate="classifier.cfJpCategory.pref"></label></td></tr>
        <tr><td>suf</td><td><label ng-translate="classifier.cfJpCategory.suf"></label></td></tr>
        <tr><td>fr</td><td><label ng-translate="classifier.cfJpCategory.fr"></label></td></tr>
        <tr><td>atrib</td><td><label ng-translate="classifier.cfJpCategory.atrib"></label></td></tr>
        <tr><td>kn</td><td><label ng-translate="classifier.cfJpCategory.kn"></label></td></tr>
        <tr><td>mn</td><td><label ng-translate="classifier.cfJpCategory.mn"></label></td></tr>
        <tr><td>nn</td><td><label ng-translate="classifier.cfJpCategory.nn"></label></td></tr>
        <tr><td>pn</td><td><label ng-translate="classifier.cfJpCategory.pn"></label></td></tr>
        <tr><td>släng</td><td><label ng-translate="classifier.cfJpCategory.slang"></label></td></tr>
        <tr><td>ling</td><td><label ng-translate="classifier.cfJpCategory.ling"></label></td></tr>
        <tr><td>mat</td><td><label ng-translate="classifier.cfJpCategory.mat"></label></td></tr>
        <tr><td>med</td><td><label ng-translate="classifier.cfJpCategory.med"></label></td></tr>
        <tr><td>sport</td><td><label ng-translate="classifier.cfJpCategory.sport"></label></td></tr>
    </table>
</div>
