<div id="tipStudyMode">
    <span><label ng-translate="tip.studyMode.modeJapest"></label>k</span>
    <ul id="study_mode_japest_expl">
        <li><label ng-translate="tip.studyMode.japHasPos"></label></li>
        <li><label ng-translate="tip.studyMode.japHasAudio"></label></li>
        <li><label ng-translate="tip.studyMode.japHasSentences"></label></li>
        <li><label ng-translate="tip.studyMode.estUI"></label></li>
    </ul>
    <span><label ng-translate="tip.studyMode.modeEstjap"></label></span>
    <ul id="study_mode_estjap_expl">
        <li><label ng-translate="tip.studyMode.estHasPos"></label></li>
        <li><label ng-translate="tip.studyMode.estHasAudio"></label></li>
        <li><label ng-translate="tip.studyMode.estHasSentences"></label></li>
        <li><label ng-translate="tip.studyMode.japUI"></label></li>
    </ul>
</div>
