<img onclick="jcqtip(this, 'tipTestCompoundFiltertype')" src="proj/egd/qtip/info.gif"/>
<div id="tipTestCompoundFiltertype" style="display:none;">
    <p>
        Kanjide valik, mille alusel sõnad välja valitakse.
        Intervalli saab valida alamtaseme/peatükkide või kanji indeksi järgi.
        <ul>
            <li>
                <b>
                    <a href="#" target="_blank" class="tip-link">Tase</a>
                </b> -
                Jaapani üldharidussüsteemi tasemete definitsioon.
                Indeks: 1-2997.
            </li>
            <li>
                <b>
                    <a href="#" target="_blank" class="tip-link">JLPT</a>
                </b> -
                Japanese Language Proficiency Test.
                Indeks: 1-x.
            </li>
            <li>
                <b>
                    <a href="#" target="_blank" class="tip-link">Jōjō</a>
                </b> -
                Jaapani haridusministeeriumi 2010 aasta reformi seisuga nimekiri kasutatavatest kanjidest.
                Indeks: 1-2042.
            </li>
            <li>
                <b>
                    <a href="#" target="_blank" class="tip-link">Heisig 6</a>
                </b> -
                kanjide valik RTK1 raamatu kuuenda (2011) trüki järgi.
                Indeks: 1-2200.
            </li>
            <li>
                <b>
                    <a href="#" target="_blank" class="tip-link">Heisig 4</a>
                </b> -
                kanjide valik RTK1 raamatu neljanda (2001) trüki järgi.
                Indeks: 1-3007.
            </li>
        </ul>
    </p>
</div>