<img onclick="jcqtip(this, 'tipTestCompoundDictionary')" src="proj/egd/qtip/info.gif"/>
<div id="tipTestCompoundDictionary" style="display:none;">
    <ul>
        <li>
            <b>
                <a href="#" target="_blank" class="tip-link">NRES sagedusindeks</a>
            </b> -
            sisaldab 89148 sõna. Sageduse entroopia on x st.
            väga vähe on sagedaselt kasutatavaid sõnu.
        </li>
        <li>
            <b>
                <a href="#" target="_blank" class="tip-link">ILO kollane taskusõnastik</a>
            </b> -
            sisaldab 4500 sõna. JLPT 1-4.
        </li>
        <li>
            <b>
                <a href="#" target="_blank" class="tip-link">Core10K</a>
            </b> -
            Üsna populaarne sõnade nimekiri jaapani keele õppijale.
            Sisaldab x sõna.
        </li>
    </ul>
</div>