<img onclick="jcqtip(this, 'tipTestCompoundOrderby')" src="proj/egd/qtip/info.gif"/>
<div id="tipTestCompoundOrderby" style="display:none;">
    <p>
        Hetkel võimalik kahel viisil:
        <ul>
            <li>
                <b>Juhuslik</b> -
                juhuarvu generaatori abil täiesti juhuslik järjestus.
            </li>
            <li>
                <b>Sageduse ehk kasutatavuse järgi</b> -
                sõnade sagedusindeksis paiknemise järjekorras.
            </li>

        </ul>
    </p>

    <p>
        Testi tarbeks on sõnu võimalik mitmeti järjestada.
        Järjestusi saab omavahel kombineerida.
        Mõned näites võimalikest järjestustest:
        <ul>
            <li>
                <b>Juhuslik</b> -
                juhuarvu generaatori abil täiesti juhuslik järjestus.
                Juhuslikku järjestust saab rakendada alamhulkade kaupa,
                näiteks ühe- ja kahe kanjiga sõnade puhul eraldi.
            </li>
            <li>
                <b>Sageduse ehk kasutatavuse järgi</b> -
                sõnade sagedusindeksis paiknemise järjekorras.
            </li>
            <li>
                <b>Taseme järgi</b> -
                näiteks JLPT järgi kasvavalt.
            </li>
            <li>
                <b>Kanjide arvu järgi</b> -
                ühe, kahe, jne kaupa.
            </li>
            <li>
                <b>sõnastiku järgi</b> -
                kanji sõnastikus paiknemise järjekorras.
            </li>
        </ul>
    </p>

</div>