<img onclick="jcqtip(this, 'tipTestCompoundMeaning')" src="proj/egd/qtip/info.gif"/>
<div id="tipTestCompoundMeaning" style="display:none;">
    Tõlge esitatakse eesti ja inglise keeles.
    <ul>
        <li>
            <b>Peida inglisekeelne tõlge kui eestikeelne on olemas</b> -
            Hetkel ei ole sõnaraamatus eestikeelseid tõlkeid piisaval hulgal, et testis kasutatavad
            sõnad saaks esitada ainult eesti keeles. Samuti ei pruugi tõlked olla täpsed.
            Inglisekeelsed tõlked on võetud
            <a href="#" target="_blank" class="tip-link">JMDict</a>
            sõnastikust.
            <br/><br/>
            Kui kasutada ainult eestikeelse tõlkega sõnu, siis ei saaks
            sõnavara nimekirju ja sagedusindekseid usaldusväärselt kasutada.
        </li>
        <li>
            <b>Koos sõnaliikide ja märgenditega</b> -
            sõna tähenduse juures on sõnaliigid ja erialamärgendid toodud inglisekeelsete lühenditena.
            Kasutusel
            <a href="#" target="_blank" class="tip-link">JMDict</a>
            süsteem.
        </li>
    </ul>
</div>