<form name="form" role="form" novalidate
      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
      ng-submit="save()">

    <div class="modal-body">
        <div id="articleModalArticle" class="form-inline">
            <div class="row">
                <div class="form-group">
                    <label translate="article.grid.title"></label>
                    <input type="text" class="form-control"
                           ng-model="article.title">
                </div>
                <div class="form-group">
                    <label translate="article.grid.author"></label>
                    <input type="text" class="form-control" ng-model="article.author">
                </div>
                <div class="form-group">
                    <label translate="article.grid.transcriptLang"></label>

                    <select class="form-control" ng-model="article.transcriptLang">
                        <option value="et">{{'language.et' | translate}}</option>
                        <option value="en">{{'language.en' | translate}}</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top:10px;">
                <div class="form-group" style="width:100%">
                    <label translate="article.grid.copyright"></label>
                    <textarea class="form-control" style="width: 50%;"
                              ng-model="article.copyright"></textarea>
                </div>
            </div>
        </div>

        <div ng-if="gridOptions" id="grid1" ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-cellNav class="grid"></div>

        <div class="table-responsive" id="articleModalParagraphs">
            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="item in article.articleParagraphs">
                    <td>

                        <div class=col-md-offset-4>
                            <h3>
                                {{item.audio.ngAudio.id}}
                                <!-- {{audio}} -->
                            </h3>
                            <p ng-if=item.audio.ngAudio.error>
                                Error playing this sound.
                            </p>
                            <p ng-if=!item.audio.ngAudio.canPlay>
                                Sound is loading, or you are viewing this on a device that doesn't support the <code>canPlay</code> property.
                            </p>
                        </div>
                        <div ng-if='!item.audio.ngAudio.error' class='form-group col-md-8 col-md-offset-4'>
                            <form class=form-inline>
                                <div class='form-group col-xs-9'>
                                    <button class='btn btn-primary' ng-click='item.audio.ngAudio.paused ? item.audio.ngAudio.play() : audio.pause()'>{{item.audio.ngAudio.paused ? "Play" : "Pause" }}</button>
                                    <button class='btn btn-danger' ng-click='item.audio.ngAudio.restart()'>Stop</button>
                                    <button class='btn btn-neutral' ng-click='item.audio.ngAudio.muting = !item.audio.ngAudio.muting'>{{audio.muting ? "Unmute" : "Mute" }}</button>
                                </div>
                            </form>
                        </div>

                        <form class='form-horizontal'>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Current Time</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Current Time</span>
                                        <input class='form-control' type=text ng-model='item.audio.ngAudio.currentTime'>
                                    </div>
                                    <p class="help-block">
                                        <strong>audioObject.currentTime:</strong>The current time of the object in seconds
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Progress</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Progress</span>
                                        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='item.audio.ngAudio.progress'>
                                    </div>
                                    <p class="help-block">
                                        <strong>audioObject.progress:</strong>The progress of the object as a percentage (0-1);
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="prependedtext">Volume</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">Volume</span>
                                        <input class='form-control' type=range min=0 max=1 step=0.01 ng-model='item.audio.ngAudio.volume'>
                                    </div>
                                    <strong>audioObject.volume:</strong>The volume of the object as a percentage (0-1);
                                </div>
                            </div>
                        </form>


                        <textarea auto-grow style="height:100%" class="form-control" ng-model="item.txt"></textarea></td>
                    <td><textarea auto-grow style="height:100%" class="form-control" ng-model="item.transcript"></textarea></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>
            {{'grid.cancel' | translate}}
        </button>
        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>
            {{'grid.save' | translate}}
        </button>
    </div>
</form>


<style>
    div#articleModalArticle div.form-group label {
        width:100px;
        text-align: right;
        margin-right: 5px;
    }
    div#articleModalArticle div.form-group input {
        width:300px;
    }
    div#articleModalParagraphs {
        margin-top:10px;
    }
</style>
