<div>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveArticleModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span>
        {{'article.create_a_new_article' | translate}}
    </button>
    <div class="modal fade" id="saveArticleModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 95%;">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header" style="height: 45px;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div id="articleModalArticle" class="form-inline">
                            <div class="row">
                                <div class="form-group">
                                    <label translate="article.grid.title"></label>
                                    <input type="text" class="form-control"
                                           ng-model="article.title">
                                </div>
                                <div class="form-group">
                                    <label translate="article.grid.author"></label>
                                    <input type="text" class="form-control" ng-model="article.author">
                                </div>
                                <div class="form-group">
                                    <label translate="article.grid.transcriptLang"></label>



                                </div>
                            </div>
                            <div class="row" style="margin-top:10px;">
                                <div class="form-group" style="width:100%">
                                    <label translate="article.grid.copyright"></label>
                                    <textarea class="form-control" style="width: 50%;"
                                              ng-model="article.copyright"></textarea>
                                </div>
                            </div>
                        </div>
                        <div id="articleModalParagraphs">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                            {{'grid.cancel' | translate}}
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>
                            {{'grid.save' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="article.grid.author"></th>
                    <th translate="article.grid.title"></th>
                    <th translate="article.grid.transcriptLang"></th>
                    <th translate="article.grid.copyright"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles">
                    <td>{{article.title}}</td>
                    <td>{{article.author}}</td>
                    <td>{{article.transcriptLang}}</td>
                    <td>{{article.copyright}}</td>
                    <td>
                        <button ng-if="isArticleUpdateAllowed(article)" type="submit"
                                ng-click="update(article.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{'grid.edit' | translate}}
                        </button>
                        <button ng-if="isArticleDeleteAllowed(article)" type="submit"
                                ng-click="delete(article.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            {{'grid.delete' | translate}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    div#articleModalArticle div.form-group label {
        width:100px;
        text-align: right;
        margin-right: 5px;
    }
    div#articleModalArticle div.form-group input {
        width:300px;
    }
</style>
