<div>

    <button class="btn btn-primary" ng-click="create()">
        <span class="glyphicon glyphicon-flash"></span>
        {{'article.create_a_new_article' | translate}}
    </button>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="article.grid.author"></th>
                    <th translate="article.grid.title"></th>
                    <th translate="article.grid.transcriptLang"></th>
                    <th translate="article.grid.copyright"></th>

                    <th style="width: 180px;" translate="article.grid.lastModified"></th>
                    <th style="width: 180px;" translate="article.grid.created"></th>

                    <th style="width: 200px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in articles">
                    <td>{{article.title}}</td>
                    <td>{{article.author}}</td>
                    <td>{{'language.' + article.transcriptLang | translate}}</td>
                    <td>{{article.copyright}}</td>

                    <td>{{article.formattedLastModifiedDate}} - {{article.lastModifiedBy}}</td>
                    <td>{{article.formattedCreatedDate}} - {{article.createdBy}}</td>

                    <td style="text-align: right;">
                        <button ng-if="isArticleUpdateAllowed(article)"
                                ng-click="open(article.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{'grid.edit' | translate}}
                        </button>
                        <button ng-if="isArticleDeleteAllowed(article)"
                                ng-really-message="{{'grid.confirm' | translate}}"
                                ng-really-click="delete(article.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            {{'grid.delete' | translate}}
                        </button>
                        <button ng-if="isArticleViewAllowed(article)"
                                ng-click="open(article.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span>
                            {{'grid.open' | translate}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
