<div id="egd-changelog">
    <span translate="changelog.title" style="font-size: 24px;"></span>
    <div class="row col-md-4" style="float: right;">
        <h4 translate="changelog.legend.title"></h4>
        <ul class="changelog">
            <li>
                <img alt="Add: " class="icon" src="./images/changelog/add.gif">
                <span translate="changelog.legend.add"></span>:
                <i><span translate="changelog.legend.add.descr"></span></i>
            </li>
            <li>
                <img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                <span translate="changelog.legend.fix"></span>:
                <i><span translate="changelog.legend.fix.descr"></span></i>
            </li>
            <li>
                <img alt="Update: " class="icon" src="./images/changelog/update.gif">
                <span translate="changelog.legend.update"></span>:
                <i><span translate="changelog.legend.update.descr"></span></i>
            </li>
            <li>
                <img alt="Code: " class="icon" src="./images/changelog/code.gif">
                <span translate="changelog.legend.code"></span>:
                <i><span translate="changelog.legend.code.descr"></span></i>
            </li>
        </ul>
    </div>

    <div class="row" style="width: 100%;float: left;">
        <h4>2015-01-29</h4>
        <div class="text">
            <div class="subsection">
                <div class="text">
                    <ul class="changelog">
                        <li>
                            <img class="icon" src="./images/changelog/add.gif">
                            Changelog page, JMDict graphs on dictionary statistics page
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <h3>2014-01-29</h3>
        <div class="text">
            <div class="subsection">
                <h4>Catalina</h4>
                <div class="text">
                    <ul class="changelog">
                        <li>
                            <img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57178">57178</a>: The CORS filter now
                            treats <code>null</code> as a
                            valid origin that matches <code>*</code>. Patch provided by Gregor
                            Zurowski. (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57425">57425</a>: Don't add attributes
                            with null value or name to the
                            replicated context. (fschumacher)
                        </li>
                        <li><img alt="Add: " class="icon" src="./images/changelog/add.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57431">57431</a>: Enable usage of custom
                            class for context creation when
                            using embedded tomcat. (fschumacher)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57446">57446</a>: Ensure that <code>ServletContextListener</code>s
                            that
                            have limited access to <code>ServletContext</code> methods are called
                            with the same <code>ServletContext</code> instance for both
                            <code>contextInitialized()</code> and <code>contextDestroyed()</code>.
                            (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57455">57455</a>: Explicitly block the
                            use of the double-quote character
                            when configuring the common, server and shared class loaders since
                            double-quote is used to quote values that contain commas. (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57461">57461</a>: When an instance of
                            <code>org.apache.catalina.startup.VersionLoggerListener</code> logs the
                            result of <code>System.getProperty("java.home")</code> don't report it
                            in a manner that makes it look like the <code>JAVA_HOME</code>
                            environment variable. (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57476">57476</a>: Ensure the responses
                            written as part of a forward are
                            fully written. This fixes a regression in 8.0.15 caused by the fix for
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57252">57252</a>. (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            While closing streams for given resources ensure that if an exception
                            happens it will be handled properly. Issue is reported by Coverity Scan.
                            (violetagg)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            <a href="http://issues.apache.org/bugzilla/show_bug.cgi?id=57481">57481</a>: Fix <code>IllegalStateException</code>
                            at the end of
                            the request when using non-blocking reads with the HTTP BIO connector.
                            (markt)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            Change Response to use UEncoder instances with shared safeChars.
                            (fschumacher)
                        </li>
                        <li><img alt="Fix: " class="icon" src="./images/changelog/fix.gif">
                            Ensure that when static resources are served from JARs, only static
                            resources are served. (markt)
                        </li>
                        <li><img alt="Add: " class="icon" src="./images/changelog/add.gif">
                            Allow <code>VersionLoggerListener</code> to log all system properties.
                            This feature is off by default. (kkolinko)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<style>
    div.egd-changelog ul {
        list-style-type: none;
    }

    div.egd-changelog div.col-md-4 {
        *width:100%;
        margin:15px;
        padding:8px 10px 10px 10px;
        background-color: #ececec;
        border-radius: 4px;
    }
    #egd-changelog h3, #egd-changelog h4, #egd-changelog h5, #egd-changelog h6 {
        padding-left: 5px;
        padding-right: 5px;
        background-color: #eaeaea;
    }
    @media not print {
        #egd-changelog h3, #egd-changelog h4, #egd-changelog h5, #egd-changelog h6 {
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
    #egd-changelog h4, #egd-changelog h5, #egd-changelog h6 {
        background-color: #f6f6f6;
    }

    #egd-changelog div.text, #egd-changelog div.changelog {
        margin-left: 10px;
    }

    #egd-changelog code {
        background-color: rgb(224,255,255);
    }
    #egd-changelog ul.changelog {
        padding-left: 1em;
        list-style-type: none;
    }

    #egd-changelog ul.changelog  li{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #egd-changelog ul.changelog img {
        vertical-align: middle
    }
</style>
