<div ng-controller="DictController" ng-cloak>
    <div class="col-lg-3" style="width:300px" >
        <form class="form egd-dict-search-form" role="form" ng-submit="showResult()">
            <div class="row">
                <div class="dropdown input-group" dropdown>
                    <div class="input-group-btn">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle"
                                    dropdown-toggle
                                    ng-disabled="disabled"
                                    tabindex="-1">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                        </div>
                    </div>
                    <input type="text"
                           ng-model="phrase"
                           placeholder="{{'global.label.word' | translate}}"
                           typeahead="title for title in getAutocomplete($viewValue)"
                           typeahead-min-length="2"
                           typeahead-wait-ms="200"
                           class="form-control">

                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="item in phrases track by $index">
                            <a href ng-click="onPhraseSelect(item)">{{item}}</a>
                        </li>
                    </ul>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" translate="global.label.search" style="width:50px;border-radius:0;" type="submit"></button>
                        <button class="btn btn-default" type="button" ng-click="onPhraseClear()">←</button>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left:11px">
                <label class="radio-inline">
                    <input type="radio" ng-model="radioLang" value="et"/>
                    {{'global.label.alphabet' | translate}}
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="radioLang" value="ja" checked/>
                    {{'global.label.hiragana' | translate}}
                </label>
            </div>
            <div class="row" ng-if="radioLang == 'ja'" kana-keys on-click="appendToPhrase(letter)"></div>
            <div class="row" ng-if="radioLang == 'et'" estonian-keys on-click="appendToPhrase(letter)"></div>
        </form>
    </div>

    <div class="col-lg-7" ng-if="resultVisible">
        <grid-ja ng-if="gridJaVisible" rows="{{rows}}"/>
        <grid-et ng-if="!gridJaVisible" rows="{{rows}}"/>
    </div>
</div>
<script>

    $(document).ready(function() {

        $( ".selector" ).autocomplete( "close" );

        $("#phrase-autocomplete-toggle").click(function() {
            $( "#phrase-autocomplete" ).autocomplete("search");
        });
    });



</script>

<style>
    form.egd-dict-search-form div + div {
        margin-top:8px;
    }


    /*
    button#dictSearchSubmit, button#dictSearchClear {
        *height: 34px;
        *margin-left: 5px;
    }

    div#phraseLangWR {
        margin-top: 15px;
        clear: both;
        width: 100%;
    }

    div.egd-dict-search {
        *float: left;
        width: 300px;
    }

    div.response {
        margin-left: 320px;
    }

    div#statisticsWR {
        float: left;
        margin-left: 40px;
        margin-top: 20px;
    }

    div#statisticsWR table tr td {
        width: 250px;
        height: 25px;
    }

    div#requestLang {
        float: right;
        margin-top: 4px;
    }

    div#requestWordWR div#requestLang div {
        margin-right: 10px;
    }

    div#dictionary {
        width: 100%;
        min-height: 600px;
    }

    div#dictionary div#settings {
        height: 20px;
        width: 100%;
        text-align: right;
    }

    div#dictionary div#request {
        float: left;
        width: 380px;
        margin-top: 16px;
    }

    div#request div {
        float: left;
    }

    div#verveYesNo {
        margin-left: 10px;
    }

    div#dictionary div#response {
        float: left;
        width: 70%;
    }

    div.verveCheckbox {
        float: right;
    }

    div.verveCheckbox + div.verveCheckbox {
        margin-left: 10px;
    }

    div#requestWordWR {
        float: left;
    }

    div#responseListWR {
        min-height: 300px;
        margin-right: 0;
        margin-left: 0;
    }

    .k-autocomplete {
        vertical-align: middle;
        width: 300px;
    }

    div#hiraganaKeysWR, div#estonianKeysWR {
        margin-top: 10px;
        margin-left: 5px;
    }
    */

</style>
