<div ng-cloak id="request">
    <div id="dictSearchWR" ng-controller="DictController">
        <form ng-submit="showResult()">
            <div id="dictPhraseWR">
                <input type="text"
                       class="k-textbox"
                       placeholder="{{'global.label.word' | translate}}"
                       phrase-autocomplete
                       ng-model="phrase"
                       lang="{{slng}}"
                       value="{{phrase}}"
                       on-select="setPhrase(q)"
                       min-length="2"/>
                <button id="dictSearchSubmit" class="k-button" translate="global.label.search" type="submit"></button>
                <button id="dictSearchClear" class="k-button" ng-click="onPhraseClear()">←</button>
            </div>
            <div id="phraseLangWR">
                <div style="margin-left:5px">
                    <label for="dictSearchLangEt" translate="dictionary.search.et"></label>
                    <input type="radio" ng-model="slng" id="dictSearchLangEt" value="et"/>
                </div>
                <div>
                    <label for="dictSearchLangJp" translate="dictionary.search.jp"></label>
                    <input type="radio" ng-model="slng" id="dictSearchLangJp" value="jp" checked/>
                </div>
            </div>
            <div ng-if="slng == 'jp'" id="hiraganaKeysWR" kana-keys on-click="appendToPhrase(letter)"></div>
            <div ng-if="slng == 'et'" id="estonianKeysWR" estonian-keys on-click="appendToPhrase(letter)"></div>
        </form>
    </div>
</div>

<div class="response" ng-if="gridJpMode">
    <grid-jp  lang="{{slng}}" q="{{phrase}}"/>
</div>

<div class="response" ng-if="gridEtMode">
    <grid-et lang="{{slng}}" q="{{phrase}}"/>
</div>

<style>
    button#dictSearchSubmit, button#dictSearchClear {
        height: 34px;
        margin-left:5px;
    }
    div#phraseLangWR {
        margin-top: 15px;
        clear: both;
        width:100%;
    }

    div#request {
        float:left;
        width:300px;
    }

    div.response {
        margin-left: 320px;
    }

    div#statisticsWR {
        float: left;
        margin-left: 40px;
        margin-top: 20px;
    }

    div#statisticsWR table tr td {
        width:250px;
        height: 25px;
    }

    div#requestLang {
        float:right;
        margin-top:4px;
    }

    div#requestWordWR div#requestLang div {
        margin-right:10px;
    }

    div#dictionary {
        width:100%;
        min-height: 600px;
    }
    div#dictionary div#settings {
        height: 20px;
        width:100%;
        text-align: right;
    }
    div#dictionary div#request {
        float:left;
        width: 380px;
        margin-top:16px;
    }
    div#request div {
        float:left;
    }
    div#verveYesNo {
        margin-left: 10px;
    }

    div#dictionary div#response {
        float:left;
        width:70%;
    }
    div.verveCheckbox {
        float:right;
    }
    div.verveCheckbox + div.verveCheckbox {
        margin-left: 10px;
    }

    div#requestWordWR {
        float:left;
    }
    div#responseListWR {
        min-height: 300px;
        margin-right: 0;
        margin-left: 0;
    }
    .k-autocomplete {
        vertical-align: middle;
        width: 300px;
    }

    div#hiraganaKeysWR, div#estonianKeysWR {
        margin-top: 10px;
        margin-left: 5px;
    }

</style>
