<h3 translate="stats.counters.header"></h3>
<div class="row egd-stats-counters">
    <div class="col-md-3">
        <h4 translate="global.label.dictionary"></h4>
        <ul>
            <li>
                <a target="_blank" href="http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1C">
                    <span translate="stats.counters.jmdictVersion"></span>
                </a>
                {{counters.jmdictVersion}}
            </li>
            <li><span translate="stats.counters.countJpEntry"></span>{{counters.countJpEntry}}</li>
            <li><span translate="stats.counters.countTranslatedEntries"></span>{{counters.countTranslatedEntries}}</li>
            <li><span translate="stats.counters.countEtTranslations"></span>{{counters.countEtTranslations}}</li>
            <li><span translate="stats.counters.countSentencePairs"></span>{{counters.countSentencePairs}}</li>
            <li>
                <a target="_blank" href="http://www.cl.ut.ee/ressursid/teksaurus/index.php?lang=en">
                    <span translate="stats.counters.countEstwnExamples"></span>
                </a>
                {{counters.countEstwnExamples}}
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 translate="stats.counters.etTransOrigin"></h4>
        <ul>
            <li>
                <a target="_blank" href="http://web.zone.ee/jatik/">
                    <span translate="stats.counters.countOriginJatik"></span>
                </a>
                {{counters.countOriginJatik}}
            </li>
            <li>
                <a target="_blank" href="https://kirjastus.tea.ee/est/Tootekataloog/sonaraamatud/?productID=1603">
                    <span translate="stats.counters.countOriginIlo"></span>
                </a>
                {{counters.countOriginIlo}}
            </li>
            <li><span translate="stats.counters.countOriginEgd"></span>{{counters.countOriginEgd}}</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h4 translate="global.label.kanjis"></h4>
        <ul>
            <li><span translate="stats.counters.countKanjiInDb"></span>{{counters.countKanjiInDb}}</li>
            <li><span translate="stats.counters.countKanjisDescribedWithHeisig"></span>{{counters.countKanjisDescribedWithHeisig}}</li>
            <li><span translate="stats.counters.countStrokeDiagrams"></span>{{counters.countStrokeDiagrams}}</li>
        </ul>
    </div>
</div>

<h3 translate="stats.core.header"></h3>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th translate="stats.core.resource"></th>
            <th translate="stats.core.wordCount"></th>
            <th translate="stats.core.withJmdictCount"></th>
            <th translate="stats.core.wordsWithKanjiCount"></th>
            <th translate="stats.core.kanjiCount"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in coreStats">
            <td>{{item.resource}}</td>
            <td>{{item.wordCount}}</td>
            <td>{{item.withJmdictCount}} ({{item.withJmdictShare * 100}}%)</td>
            <td>{{item.wordsWithKanjiCount}}</td>
            <td>max:{{item.maxKanjiCount}}&nbsp; avg:{{item.avgKanjiCount}}</td>
        </tr>
        </tbody>
    </table>
</div>

<h3 translate="stats.jmdict.header"></h3>

<div class="row">
    <div class="col-md-6">
        <h4 translate="stats.jmdict.translatedEntrRatio"></h4>
        <div id="translatedEntrRatioChart" ui-chart="translatedEntrRatio" chart-options="translatedEntrRatioChartOpts"></div>
    </div>
</div>

<style type="text/css">
    #translatedEntrRatioChart .jqplot-point-label {
        border: 1.5px solid #aaaaaa;
        padding: 1px 3px;
        background-color: #eeccdd;
    }
</style>

<h3 translate="stats.freq.header"></h3>

<style>
    div.egd-stats-counters div.col-md-3 {
        *width:100%;
        margin:15px;
        padding:8px 10px 10px 10px;
        background-color: #ececec;
        border-radius: 4px;
    }

    div.egd-stats-counters div ul li span {
        width:230px;
        float:left;
    }

    div.egd-stats-counters div ul {
        list-style: none;
        padding-left: 22px;
    }

    div.egd-stats-counters div ul li + li {
        margin-top:15px;
    }
</style>
