<div class="row">
    <div class="col-lg-12" ng-if="compounds.length > 0" ng-repeat="p in compounds">
        <div class="cmpd-header-wr">
            <span class="cmpd-reading">{{p.reading}}</span>
            <span ng-if="p.et" class="cmpd-et">{{p.et}}</span>
            <span ng-if="p.en" class="cmpd-en">{{p.en}}</span>
            <span ng-if="p.notes" class="cmpd-notes">({{p.notes}})</span>
        </div>

        <div class="cmpd-answer-wr">
            <table>
                <tr>
                    <td ng-repeat="q in p.signs" class="{{q.kanji | ie: 'sign-box':'rdng-box'}} ">
                        <span class="sign-wr">{{q.sign}}</span>
                    </td>
                </tr>
                <tr>
                    <td ng-repeat="q in p.signs" class="sign-hint">
                        <div ng-if="q.kanji && (q.radicalHint || q.strokeCountHint)" class="radical-hint-wr">
                            <span ng-if="q.strokeCountHint" class="strokecount">{{q.strokeCountHint}}</span>
                            {{q.radicalHint}}
                        </div>
                    </td>
                </tr>
                <!--
                <tr ng-repeat="(qkey,qval) in p.signs">
                    <td class="sign-box　{{current() == 'links' | ie: 'k-tab-on-top k-state-active':''}}">
                        <span ng-if="!qval" class="sign-box-rdng">{{qkey}}</span>
                    </td>
                    <td class="sign-rdng">
                        <span ng-if="!qval" class="sign-box-rdng">{{qkey}}</span>
                    </td>
                    <td>
                        <span class="sign-stroke-count-hint">{{qval['strokeCountHint']}}</span>
                    </td>
                    <td>
                        <span class="sign-radical-hint">{{qval['radicalHint']}}</span>
                    </td>
                </tr>
                -->
            </table>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-4 col-xs-offset-4">
        <a ui-sref="compound" class="btn btn-block btn-default">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            {{'global.messages.action.back' | translate}}
        </a>
    </div>
</div>

<style>

    td.sign-box {
        border: 2px solid #888888;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    td.rdng-box {
        height: 50px;
        width: 20px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    span.cmpd-et {
        margin-top: 6px;
        font-size: 18px;
    }

    span.cmpd-en {
        margin-top: 6px;
        font-size: 18px;
        font-style: italic;
    }

    span.strokecount {
        color: darkblue;
        font-weight: bold;
    }

    div.radical-hint-wr {
        width: 50px;
        margin: 2px;
        word-wrap: break-word;
        display: inherit;
    }

    span.cmpd-reading {
        color: darkred;
        margin-left: 5px;
        font-size: 27px;
    }

    div.cmpd-header-wr {
        margin-top:4px;
        float: left;
    }

    div.cmpd-answer-wr {
        margin-top:6px;
        width: 100%;
        float: left;
        margin-bottom: 6px;
    }

    div.cmpd-header-wr span {
        float:left;
    }

    div.cmpd-header-wr span + span {
        margin-left:10px;
    }

    span.cmpd-en {
        font-style: italic;
    }
</style>
