<div class="cmpd-wr" ng-if="compounds.length > 0" ng-repeat="p in compounds">
    <div class="cmpd-header-wr">
        <span class="cmpd-reading">{{p.reading}}</span>
        <span ng-if="p.et" class="cmpd-et">{{p.et}}</span>
        <span ng-if="p.en" class="cmpd-en">{{p.en}}</span>
        <span ng-if="p.notes" class="cmpd-notes">({{p.notes}})</span>
    </div>

    <div class="cmpd-answer-wr">
        <table>
            <tr>
                <td ng-repeat="q in p.signs" class="{{q.kanji | ie: 'sign-box':'rdng-box'}} ">
                    <span class="sign-wr">{{q.sign}}</span>
                </td>
            </tr>
            <tr>
                <td ng-repeat="q in p.signs" class="sign-hint">
                    <div ng-if="q.kanji && (q.radicalHint || q.strokeCountHint)" class="radical-hint-wr">
                        <span ng-if="q.strokeCountHint" class="strokecount">{{q.strokeCountHint}}</span>
                        {{q.radicalHint}}
                    </div>
                </td>
            </tr>


            <!--
            <tr ng-repeat="(qkey,qval) in p.signs">
                <td class="sign-box　{{current() == 'links' | ie: 'k-tab-on-top k-state-active':''}}">
                    <span ng-if="!qval" class="sign-box-rdng">{{qkey}}</span>
                </td>
                <td class="sign-rdng">
                    <span ng-if="!qval" class="sign-box-rdng">{{qkey}}</span>
                </td>
                <td>
                    <span class="sign-stroke-count-hint">{{qval['strokeCountHint']}}</span>
                </td>
                <td>
                    <span class="sign-radical-hint">{{qval['radicalHint']}}</span>
                </td>
            </tr>
            -->

        </table>
    </div>
</div>

<style>
    .fact-input-wr {
        width:500px;
    }




    td.sign-box {
        border: 2px solid #888888;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    td.rdng-box {
        height: 50px;
        width: 20px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    span.cmpd-et {
        margin-top: 6px;
        font-size: 18px;
    }

    span.cmpd-en {
        margin-top: 6px;
        font-size: 18px;
        font-style: italic;
    }

    span.strokecount {
        color: darkblue;
        font-weight: bold;
    }

    td.sign-hint {

    }

    div.radical-hint-wr {
        width: 50px;
        margin: 2px;
        word-wrap: break-word;
        display: inherit;
    }

    .upright {
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -o-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        -webkit-text-orientation: upright;
        -moz-text-orientation: upright;
        -o-text-orientation: upright;
        -ms-text-orientation: mixed;
        text-orientation: upright;
    }

    td.sign-rdng, span.sign-box-rdng {

    }

    span.cmpd-reading {
        color: darkred;
        margin-left: 5px;
        font-size: 27px;
    }

    div.cmpd-wr {
        vertical-align: top;
        margin: 10px;
        padding: 3px 15px 2px 15px;
        min-height: 90px;
        border: 2px solid #888888;
        background: white;
        display: inline-table;
        width: 400px;
    }

    div.cmpd-header-wr {
        margin-top:4px;
        float: left;
    }

    div.cmpd-answer-wr {
        margin-top:6px;
        width: 100%;
        float: left;
        margin-bottom: 6px;
    }

    div.cmpd-header-wr span {
        float:left;
    }

    div.cmpd-header-wr span + span {
        margin-left:10px;
    }

    span.cmpd-en {
        font-style: italic;
    }


    li.fact-wr, li.space {
        list-style: none;
    }

    li.fact-wr label {
        *width: 140px;
        *margin-top: 6px;
    }

    li.fact-wr,
    li.space,
    li.fact-wr label,
    li.fact-wr div.fact-value-wr,
    div.fact-value-wr input,
    div.fact-value-wr select,
    div.fact-form-submit-wr {
        *float: left;
    }

    div.fact-form-submit-wr {
        *clear: both;
    }

    span.interval-space {
        margin-top: 6px;
        margin-right: 2px;
        text-align: right;
    }

    ul.fact-tree-wr {
        float: left;
        margin: 0;
        padding: 10px;
        border: 2px solid #bfbfbf;
        min-width: 500px;
    }

    ul.fact-tree-wr li.fact-wr {
        padding: 10px;
        *clear: both;
    }

    ul.fact-tree-wr > li.fact-wr > label {
        *width: 210px;
    }

    ul.fact-tree-wr li.fact-wr + li.space {
        *margin-top: 10px;
    }

    li.space {
        border-top: 2px solid #bfbfbf;
        width: 100%;
        height: 4px;
    }
</style>

