<div class="row">
    <div class="col-lg-6">
        <button type="button" class="{{showAnswer | ie: 'btn btn-success':'btn btn-default'}}"
                ng-model="showAnswer" btn-checkbox>
            {{'test.compound.showAnswer' | translate}}
        </button>
        <button type="button"
                ng-disabled="!first.radicalHintVisible || turnCompound"
                class="{{showHints | ie: 'btn btn-success':'btn btn-default'}}"
                ng-model="showHints"
                btn-checkbox>
            {{'test.compound.showHints' | translate}}
        </button>
        <button type="button"
                class="{{turnCompound | ie: 'btn btn-success':'btn btn-default'}}"
                ng-model="turnCompound"
                ng-click="hideTranslation=false"
                btn-checkbox>
            {{'test.compound.turnCompound' | translate}}
        </button>
        <button type="button"
                ng-show="turnCompound"
                class="{{hideTranslation | ie: 'btn btn-success':'btn btn-default'}}"
                ng-model="hideTranslation"
                btn-checkbox>
            {{'test.compound.hideTranslation' | translate}}
        </button>
        <button type="button"
                ng-show="isInRole('ROLE_ADMIN')"
                class="{{showHeisigCores | ie: 'btn btn-success':'btn btn-default'}}"
                ng-model="showHeisigCores"
                btn-checkbox>
            {{'test.compound.showHeisigCores' | translate}}
        </button>
    </div>
    <div class="col-lg-2">
        <a ui-sref="compound.first" class="btn btn-block btn-default">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            {{'global.messages.action.back' | translate}}
        </a>
    </div>
    <div class="col-lg-2 col-lg-offset-2 text-right">
        {{'test.compound.wordCount' | translate}}: {{compounds.length}}
    </div>
</div>
<div class="col-lg-12" style="margin-top:10px">
    <div class="cmpd-wr" ng-if="compounds.length > 0" ng-repeat="p in compounds">
        <div class="cmpd-header-wr">
            <span class="cmpd-reading">{{turnCompound ? p.answer : p.reading}}</span>
            <span ng-if="p.et && (!hideTranslation || p.showSign || showAnswer)" class="cmpd-et">{{p.et}}</span>
            <span ng-if="p.en && (!hideTranslation || p.showSign || showAnswer)" class="cmpd-en">{{p.en}}</span>
            <span ng-if="p.notes" class="cmpd-notes">({{p.notes}})</span>
            <span ng-if="isInRole('ROLE_ADMIN') && (p.showSign || showAnswer)" style="float:right;">
                <button type="button"
                        class="{{!p.heisigEquals | ie: 'btn btn-sm btn-danger':'btn btn-sm btn-default'}}"
                        ng-click="p.showHeisig=!p.showHeisig"
                        style="font-size: 0.5em;">H</button>
            </span>
        </div>

        <div class="cmpd-answer-wr">
            <table>
                <tr ng-show="turnCompound">
                    <td
                        class="sign-box"
                        ng-click="showSign=!showSign;toggleSign(showSign, $index, p)">
                        <div ng-show="showAnswer || showSign" class="sign-wr"
                             style="text-align:left;width:250px">{{p.reading}}</div>
                    </td>
                </tr>
                <tr ng-show="!turnCompound">
                    <td ng-repeat="q in p.signs track by $index"
                        class="{{q.kanji | ie: 'sign-box':'rdng-box'}}"
                        ng-click="showSign=!showSign;toggleSign(showSign, $index, p)">
                        <div ng-show="showAnswer || showSign || !q.kanji" class="sign-wr">{{q.sign}}</div>
                    </td>
                </tr>
                <tr ng-show="!turnCompound">
                    <td ng-repeat="q in p.signs" class="sign-hint">
                        <div ng-if="q.kanji && (q.radicalHint || q.strokeCountHint)" class="radical-hint-wr">
                            <span ng-if="q.strokeCountHint" class="strokecount">{{q.strokeCountHint}}</span>
                            <span ng-if="showHints && q.radicalHint">{{q.radicalHint}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="cmpd-answer-wr" ng-show="isInRole('ROLE_ADMIN') && (p.showHeisig || showHeisigCores)">
             <span style="float:right">
                <button class="btn btn-sm btn-default"
                        type="button"
                        ng-really-message="{{'global.messages.confirm' | translate}}"
                        ng-really-click="setDefaultHeisigWord(p)"
                        style="font-size: 0.8em;">
                    {{p.heisigCoreKw ? p.heisigCoreKw : 'KW'}}
                </button>
            </span>
        </div>
    </div>
</div>
<style>
    td.sign-box {
        cursor: pointer;
    }

    td.sign-box:hover {
        background-color: #EEE;
    }

    div.cmpd-wr {
        vertical-align: top;
        margin-bottom:10px;
        margin-right:10px;
        padding: 3px 8px 2px 15px;
        min-height: 90px;
        border: 2px solid #888888;
        background: white;
        display: inline-table;
        width: 400px;
    }

    td.sign-box {
        border: 2px solid #888888;
        height: 50px;
        width: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    td.rdng-box {
        height: 50px;
        width: 20px;
        vertical-align: middle;
        text-align: center;
        font-size: 24px;
    }

    span.cmpd-et {
        margin-top: 6px;
        font-size: 18px;
    }

    span.cmpd-en {
        margin-top: 6px;
        font-size: 18px;
        font-style: italic;
    }

    span.strokecount {
        color: darkblue;
        font-weight: bold;
    }

    div.radical-hint-wr {
        width: 50px;
        margin: 2px;
        word-wrap: break-word;
        display: inherit;
    }

    span.cmpd-reading {
        color: darkred;
        margin-left: 5px;
        font-size: 27px;
    }

    div.cmpd-header-wr {
        margin-top:4px;
        float: left;
        width: 100%;
    }

    div.cmpd-answer-wr {
        margin-top:6px;
        width: 100%;
        float: left;
        margin-bottom: 6px;
    }

    div.cmpd-header-wr span {
        float:left;
    }

    div.cmpd-header-wr span + span {
        margin-left:10px;
    }

    span.cmpd-en {
        font-style: italic;
        color: rgb(119, 119, 119);
    }
</style>
