<div class="text-left">
    <p>
        <strong>{{'timetable.detail.first.repetitionType.none' | translate}}</strong>:
        {{'timetable.detail.first.repetitionType.none.tip' | translate}}
    </p>
    <p>
        <strong>{{'timetable.detail.first.repetitionType.7p' | translate}}</strong>:
        {{'timetable.detail.first.repetitionType.7p.tip' | translate}}
    </p>
    <p>
        <strong>{{'timetable.detail.first.repetitionType.14p' | translate}}</strong>:
        {{'timetable.detail.first.repetitionType.14p.tip' | translate}}
    </p>
    <p>
        <strong>{{'timetable.detail.first.repetitionType.14ppp' | translate}}</strong>:
        {{'timetable.detail.first.repetitionType.14ppp.tip' | translate}}
    </p>
</div>
