<div id="tipStudyMode" style="width:370px;">
    <h4 translate="tip.studyMode.title"></h4>
    <div>
        <h4 translate="tip.studyMode.et.title"></h4>
        <ul>
            <li><label translate="tip.studyMode.et.dictDirection"></label></li>
            <li><label translate="tip.studyMode.et.audioFor"></label></li>
            <li><label translate="tip.studyMode.et.exampleSentencesFor"></label></li>
        </ul>
    </div>
    <div>
        <h4 translate="tip.studyMode.en.title"></h4>
        <ul>
            <li><label translate="tip.studyMode.en.description"></label></li>
        </ul>
    </div>
    <div>
        <h4 translate="tip.studyMode.ja.title"></h4>
        <ul>
            <li><label translate="tip.studyMode.ja.objective"></label></li>
            <li><label translate="tip.studyMode.ja.dictDirection"></label></li>
            <li><label translate="tip.studyMode.ja.audioFor"></label></li>
            <li><label translate="tip.studyMode.ja.exampleSentencesFor"></label></li>
        </ul>
    </div>
</div>
