<div id="tipStudyMode" style="width:330px;">
    <strong translate="tip.studyMode.title"></strong>
    <div style="margin-top:10px;">
        <strong translate="tip.studyMode.et.title"></strong>
        <ul>
            <li><label translate="tip.studyMode.et.dictDirection"></label></li>
            <li><label translate="tip.studyMode.et.audioFor"></label></li>
            <li><label translate="tip.studyMode.et.exampleSentencesFor"></label></li>
        </ul>
    </div>
    <div>
        <strong translate="tip.studyMode.en.title"></strong>
        <ul>
            <li><label translate="tip.studyMode.en.description"></label></li>
        </ul>
    </div>
    <div>
        <strong translate="tip.studyMode.ja.title"></strong>
        <ul>
            <li><label translate="tip.studyMode.ja.objective"></label></li>
            <li><label translate="tip.studyMode.ja.dictDirection"></label></li>
            <li><label translate="tip.studyMode.ja.audioFor"></label></li>
            <li><label translate="tip.studyMode.ja.exampleSentencesFor"></label></li>
        </ul>
    </div>
</div>
