<div class="tip-body-max">
    <div>
        <b>Sõnu saab praegu järjestada kahteviisi:</b>

        <p>
            <b>Juhuslikult</b> -
            juhuarvu generaatori abil täiesti juhuslik järjestus.
        </p>

        <p>
            <b>Sageduse ehk kasutatavuse järgi</b> -
            sõnade sagedusindeksis paiknemise järjekorras.
        </p>
    </div>

    <div style="margin-top:10px;">
        <b><i>
            Testi tarbeks on sõnu võimalik mitmeti järjestada.
            Järjestusi saab omavahel kombineerida.
            Mõned näites võimalikest järjestustest:</i>
        </b>

        <p>
            <b>1) Juhuslik</b> -
            juhuarvu generaatori abil täiesti juhuslik järjestus.
            Juhuslikku järjestust saab rakendada alamhulkade kaupa,
            näiteks ühe- ja kahe kanjiga sõnade puhul eraldi.
        </p>

        <p>
            <b>2) Sageduse ehk kasutatavuse järgi</b> -
            sõnade sagedusindeksis paiknemise järjekorras.
        </p>

        <p>
            <b>3) Taseme järgi</b> -
            näiteks JLPT järgi kasvavalt.
        </p>

        <p>
            <b>4) Kanjide arvu järgi</b> -
            ühe, kahe, jne kaupa.
        </p>

        <p>
            <b>5) Sõnastiku järgi</b> -
            kanji sõnastikus paiknemise järjekorras.
        </p>
    </div>

</div>
