<div class="tip-body-max">
    <p>
        Kanjide valik, mille alusel sõnad välja valitakse.
        Intervalli saab valida alamtaseme/peatükkide või kanji indeksi järgi.
    </p>

    <p>
        <b>
            <a href="#" target="_blank" class="tip-link">Tase</a>
        </b> -
        Jaapani üldharidussüsteemi tasemete definitsioon.
        Indeks: 1-2997.
    </p>

    <p>
        <b>
            <a href="#" target="_blank" class="tip-link">JLPT</a>
        </b> -
        Japanese Language Proficiency Test.
        Indeks: 1-x.
    </p>

    <p>
        <b>
            <a href="#" target="_blank" class="tip-link">Jōjō</a>
        </b> -
        Jaapani haridusministeeriumi 2010 aasta reformi seisuga nimekiri kasutatavatest kanjidest.
        Indeks: 1-2042.
    </p>

    <p>
        <b>
            <a href="#" target="_blank" class="tip-link">Heisig 6</a>
        </b> -
        kanjide valik RTK1 raamatu kuuenda (2011) trüki järgi.
        Indeks: 1-2200.
    </p>

    <p>
        <b>
            <a href="#" target="_blank" class="tip-link">Heisig 4</a>
        </b> -
        kanjide valik RTK1 raamatu neljanda (2001) trüki järgi.
        Indeks: 1-3007.
    </p>
</div>
