<div class="tip-body-max">
    <p>
        <strong><a href="#" target="_blank" class="tip-link">NRES sagedusindeks</a></strong>
        sisaldab 89148 sõna. Sageduse entroopia on x st.
        väga vähe on sagedaselt kasutatavaid sõnu.
    </p>

    <p>
        <strong><a href="#" target="_blank" class="tip-link">ILO kollane taskusõnastik</a></strong>
        sisaldab 4500 sõna. JLPT 1-4.
    </p>

    <p>
        <strong><a href="#" target="_blank" class="tip-link">Core10K</a></strong>
        Üsna populaarne sõnade nimekiri jaapani keele õppijale.
        Sisaldab x sõna.
    </p>
</div>
