<div class="tip-body-max">
    <p>
        Kanji count in one compound. For example 1 - 3.
    </p>
    <p>
        Vaikimisi ehk lineaarse stsenaariumi korral on iga kanjide arvu kohta sõnu testis võrdselt.
        Tulevikus on plaan töötada välja erinevaid stsenaariume,
        näiteks lubada kasutajal määrata raskuskeset.
    </p>
    <p>
        Testis kasutatakse sõnaraamatuvormis jaapanikeelseid sõnu, mis sisaldavad vähemalt ühte kanjit.
        Näited:<br/>
        1. 窓 [まど]<br/>
        2. 払う [はらう]<br/>
        3. 記念 [きねん]<br/>
        4. 禁煙 [きんえん]<br/>
        5. 次第に [しだいに]<br/>
        6. 締め切り [しめきり]<br/>
        7. 立入禁止 [たちいりきんし]
    </p>
    <p>
        Kanjide paiknemist sõnas arvesse ei võeta.
        Seega, näiteid 3, 4, 5 ja 6 loetakse testis võrdseks.
    </p>
</div>
