<table id="estonianTable">
    <tr>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('a')" class="mw-redirect">a</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('b')" class="mw-redirect">b</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('c')" class="mw-redirect">c</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('d')" class="mw-redirect">d</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('e')" class="mw-redirect">e</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('f')" class="mw-redirect">f</a></td>
    </tr>
    <tr>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('g')" class="mw-redirect">g</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('h')" class="mw-redirect">h</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('i')" class="mw-redirect">i</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('j')" class="mw-redirect">j</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('k')" class="mw-redirect">k</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('l')" class="mw-redirect">l</a></td>
    </tr>
    <tr>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('m')" class="mw-redirect">m</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('n')" class="mw-redirect">n</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('o')" class="mw-redirect">o</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('p')" class="mw-redirect">p</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('q')" class="mw-redirect">q</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('r')" class="mw-redirect">r</a></td>
    </tr>
    <tr>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('s')" class="mw-redirect">s</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('š')" class="mw-redirect">š</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('z')" class="mw-redirect">z</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('ž')" class="mw-redirect">ž</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('t')" class="mw-redirect">t</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('u')" class="mw-redirect">u</a></td>
    </tr>
    <tr>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('v')" class="mw-redirect">v</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('w')" class="mw-redirect">w</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('õ')" class="mw-redirect">õ</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('ä')" class="mw-redirect">ä</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('ö')" class="mw-redirect">ö</a></td>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('ü')" class="mw-redirect">ü</a></td>
    </tr>
    <tr>
        <td class="singleLetter dark"><a href="javascript:void(0)" ng-click="onLetterClick('x')" class="mw-redirect">x</a></td>
        <td class="singleLetter"><a href="javascript:void(0)" ng-click="onLetterClick('y')" class="mw-redirect">y</a></td>
        <td colspan="4"></td>
    </tr>
</table>

<style>
    table#estonianTable {
        vertical-align: top;
        padding: 2px;
        background-color: #f5f5f5;
        border: 2px solid #bfbfbf;
        width: 300px;
    }

    table#estonianTable tr td {
        text-align: center;
        vertical-align: middle;
        width: 16%;
    }

    table#estonianTable tr td a {
        text-decoration: none;
        font-size: 1.4em;
        display: block;
    }

    table#estonianTable tr td a:hover {
        background-color: #428bca;
    }

    td.singleLetter a {
        color:#4e4e4e;
    }
    td.dark {
        background-color:#e2e2e2;
    }
</style>
