<nav ng-show="!hide" class="row">
    <ul class="pagination" style="float: left;margin-bottom: 0;margin-right:10px;margin-top: 4px;">
        <!-- first -->
        <li ng-show="links['first'] == page" class="disabled">
            <a href="javascript:void(0)">&lt;&lt;</a>
        </li>
        <li ng-show="links['first'] != page">
            <a ng-click="loadPage(links['first'], limit)">&lt;&lt;</a>
        </li>
        <!-- prev -->
        <li ng-show="links['first'] == page" class="disabled">
            <a href="javascript:void(0)">&lt;</a>
        </li>
        <li ng-show="links['first'] != page">
            <a ng-click="loadPage(links['prev'], limit)">&lt;</a>
        </li>

        <!-- first + n -->
        <li ng-repeat="a in range(firstcount) track by $index"><a ng-click="loadPage($index + 1, limit)">
            {{$index + 1}}</a></li>
        <li class="disabled" ng-show="showfirstpause"><a href="javascript:void(0)">...</a></li>

        <!-- current - n -->
        <li ng-show="prevcount > 0" ng-repeat="a in range(prevcount) track by $index"><a
            ng-click="loadPage(page - prevcount + $index, limit)" ng-cloak>{{page - prevcount + $index}}</a></li>

        <li class="active"><a>{{page}}</a></li>

        <!-- current + n -->
        <li ng-show="nextcount > 0" ng-repeat="a in range(nextcount) track by $index"
            ng-click="loadPage(page + $index + 1, limit)"><a>{{page + $index + 1}}</a></li>

        <!-- last - n -->
        <li class="disabled" ng-show="showlastpause"><a href="javascript:void(0)">...</a></li>
        <li ng-repeat="a in range(lastcount) track by $index"><a
            ng-click="loadPage(links['last'] - lastcount + $index + 1, limit)">
            {{links['last'] - lastcount + $index + 1}}</a></li>

        <!-- next -->
        <li ng-show="links['last']" ng-show="links['last'] == page" class="disabled">
            <a href="javascript:void(0)">&gt;</a>
        </li>
        <li ng-show="links['last']" ng-show="links['last'] != page">
            <a ng-click="loadPage(links['next'], limit)">&gt;</a>
        </li>
        <!-- last -->
        <li ng-show="links['last']" ng-show="links['last'] == page" class="disabled">
            <a href="javascript:void(0)">&gt;&gt;</a>
        </li>
        <li ng-show="links['last']" ng-show="links['last'] != page">
            <a ng-click="loadPage(links['last'], limit)">&gt;&gt;</a>
        </li>

    </ul>

    <div ng-if="limits" class="dropdown" style="display:inline-block;margin: 4px 0 4px 0">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                style="text-align: left;width: 70px;"
                data-toggle="dropdown" aria-expanded="false">
            {{limit}}
            <span class="caret" style="float: right;margin-top: 16%;"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li ng-repeat="item in limits" ng-class="{'active': item == limit}">
                <a role="menuitem" tabindex="-1" ng-click="loadPage(getPageForLimit(page, item), item)">{{item}}</a>
            </li>
        </ul>
    </div>
</nav>
