<a href="javascript:void(0)" class="tip">
    <span ng-if="template"
          uib-tooltip-template="template"
          uib-tooltip-trigger="mouseenter"
          uib-tooltip-placement="{{placement}}">
        <span class="glyphicon glyphicon-question-sign"></span>
    </span>
    <span ng-if="!template && i18n"
          uib-tooltip="{{i18n | translate}}"
          uib-tooltip-trigger="mouseenter"
          uib-tooltip-animation="false"
          uib-tooltip-placement="{{placement}}">
        <span class="glyphicon glyphicon-question-sign"></span>
    </span>
    <span ng-if="!template && !i18n && translated"
          uib-tooltip="{{translated}}"
          uib-tooltip-trigger="mouseenter"
          uib-tooltip-animation="false"
          uib-tooltip-placement="{{placement}}">
        <span class="glyphicon glyphicon-question-sign"></span>
    </span>
</a>
