<div ng-controller="DictController" ng-cloak>
    <div class="col-lg-3" style="width:310px;">
        <form class="form egd-dict-search-form" role="form" ng-submit="showResult()">
            <div class="row">
                <div class="dropdown input-group" uib-dropdown on-toggle="toggled(open)">
                    <div class="input-group-btn">
                        <div class="btn-group">
                            <button class="btn btn-default dropdown-toggle"
                                    uib-dropdown-toggle
                                    ng-disabled="toggleButtonDisabled"
                                    tabindex="-1">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                        </div>
                    </div>
                    <input type="text"
                           ng-model="phrase"
                           placeholder="{{'global.label.word' | translate}}"
                           uib-typeahead="title for title in getAutocomplete($viewValue)"
                           uib-typeahead-min-length="2"
                           uib-typeahead-wait-ms="200"
                           class="form-control">

                    <ul ng-if="toggleButtonDisabled" class="dropdown-menu" style="left:33px">
                        <li ng-repeat="item in phrases track by $index">
                            <a tabindex="-1" ng-click="onPhraseSelect(item)">{{item}}</a>
                        </li>
                    </ul>
                    <div class="input-group-btn">
                        <button class="btn btn-primary" translate="global.label.search" style="border-radius:0;" type="submit"></button>
                        <button class="btn btn-default" type="button" ng-click="onPhraseClear()">←</button>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left:11px">
                <label class="radio-inline">
                    <input type="radio" ng-model="radioLang" value="et"/>
                    {{'ontology.alphabet' | translate}}
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="radioLang" value="ja" checked/>
                    {{'ontology.hiragana' | translate}}
                </label>
            </div>
            <div class="row" ng-if="radioLang == 'ja'" kana-keys on-click="appendToPhrase(letter)"></div>
            <div class="row" ng-if="radioLang == 'et'" estonian-keys on-click="appendToPhrase(letter)"></div>
        </form>
    </div>

    <div class="col-lg-7" ng-if="resultVisible" ng-switch="gridJaVisible">
        <grid-et ng-switch-when="false" rows="rows"></grid-et>
        <grid-ja ng-switch-when="true" rows="rows"></grid-ja>
    </div>
    <div class="col-lg-2 text-right" ng-if="resultVisible">
        <a ui-sref="abbr" translate="ontology.abbreviations"></a>
    </div>
    <div class="col-lg-6 egd-main-intro" ng-if="!resultVisible">
        <p translate="dict.intro1"></p>
        <p translate="dict.intro2"></p>
        <p translate="dict.intro3"></p>
    </div>
</div>
<script>
    $(document).ready(function() {
        $( ".selector" ).autocomplete("close");
        $("#phrase-autocomplete-toggle").click(function() {
            $( "#phrase-autocomplete" ).autocomplete("search");
        });
    });
</script>
<style>
    form.egd-dict-search-form div + div {
        margin-top:8px;
    }
</style>
