<span style="float: left">
    <iframe
        src="https://ghbtns.com/github-btn.html?user=esutoniagodesu&amp;repo=egd-web&amp;type=watch&amp;count=true"
        style="float:left;"
        allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
    <div class="custom-follow-button" style="float:left;">
        <a href="https://twitter.com/intent/user?screen_name=esutoniagodesu" target="_blank"
           alt="Follow esutoniagodesu">
            <i class="btn-icon"></i>
            <span class="btn-text">Twitter</span>
        </a>
    </div>
    <div style="float:left;margin-left:24px;">
        <a href="http://web.zone.ee/jatik/" target="_blank" class="btn btn-primary btn-xs"
           style="height:20px;padding-left: 6px;padding-right: 6px;font-weight: bold;font-size: 1.1em;"
           role="button">Jatik</a>
    </div>
    <div style="float:left;margin-left:24px;">
        <a href="http://www.csse.monash.edu.au/~jwb/cgi-bin/wwwjdic.cgi?1C" target="_blank"
           class="btn btn-primary btn-xs"
           style="height:20px;padding-left: 6px;padding-right: 6px;font-weight: bold;font-size: 1.1em;"
           role="button">WWWJDIC</a>
    </div>
</span>
<span>
    {{'global.label.email' | translate}}:
    <a href="mailto:EsutoniaGoDesu@gmail.com?Subject=EsutoniaGoDesu website feedback" target="_top">EsutoniaGoDesu@gmail.com</a>
</span>
<span style="float:right">
    <a ui-sref="changelog">{{'footer.lastUpdated' | translate}}: {{buildTime}}</a>
</span>
