<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" style="padding-left:0" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-left">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="navbar.home"></span>
                    </a>
                </li>
                <li ui-sref-active="active" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-tablet" translate="navbar.entities.main"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-switch-when="true" ui-sref-active="active">
                            <a ui-sref="reading">
                            &#xA0;<span translate="navbar.entities.articles"></span></a>
                        </li>
                        <li ng-switch-when="true" ui-sref-active="active">
                            <a ui-sref="tofu">
                                &#xA0;<span translate="navbar.entities.tofus"></span></a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" ng-show="isInRole('ROLE_USER')" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-tablet" translate="navbar.test.main"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="compound">
                                &#xA0;<span translate="navbar.test.compound"></span></a>
                        </li>
                    </ul>
                </li>
                <!--
                <li>
                    <a target="_blank" href="https://docs.google.com/forms/d/1Z2qLFNftiOqQEhnSXg86MJMcJhe1UOTEi5uWySKj50s/viewform">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="navbar.poll"></span>
                    </a>
                </li>
                -->
                <li ui-sref-active="active">
                    <a ui-sref="rtk">
                        <span translate="navbar.rtk"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ng-class="{active: $state.includes('overview')}" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-tablet" translate="navbar.overview"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active">
                            <a ui-sref="stat">
                                <span class="glyphicon glyphicon-stats"></span>
                                &#xA0;
                                <span translate="navbar.stats.statistics"></span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" ng-show="isInRole('ROLE_ADMIN')"
                    class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-tablet" translate="navbar.admin.main"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="navbar.admin.health"></span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span
                                class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="navbar.admin.configuration"></span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="navbar.admin.audits"></span></a></li>
                    </ul>
                </li>

                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <div class="row" style="float: left;padding-top: 16px; padding-left: 20px;width: 35px;">
                        <ng-tip template="'scripts/components/tip/tipStudyMode.html'"
                            placement="bottom"></ng-tip>
                    </div>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="" style="width: 130px;float: left;">
                        <span>
                            <span class="glyphicon glyphicon-flag"></span>
                            <span class="hidden-tablet" translate="navbar.language"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a style="padding-left: 10px" class="flag-text" ng-click="changeLanguage(language)">
                                <span class="flag flag-{{language}}"></span>
                                {{'navbar.language.iso.' + language| translate}}
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span ng-switch-when="true">
                            {{account.firstName}}
                            {{account.lastName}}
                            <b class="caret"></b>
                        </span>
                        <span ng-switch-when="false">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-tablet" translate="navbar.account.main"></span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span
                            class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span translate="navbar.account.settings"></span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span
                            class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span translate="navbar.account.password"></span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span
                            class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span translate="navbar.account.logout"></span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span
                            class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span translate="navbar.account.login"></span></a></li>

                        <!--
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span
                            class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span translate="navbar.account.register"></span></a></li>
                        -->
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
