<div id="gridEtWR">
    <div ng-if="rows.length > 0" class="gridEntr" ng-repeat="item in rows">
        <div class="entrHeader">
            <span class="gtxt">
                <a class="clean"
                   href="http://www.eki.ee/dict/ekss/index.cgi?Q={{item.gtxt}}"
                   target="_blank">{{item.gtxt}}</a>
            </span>
            <span class="gpos" ng-if="item.gpos != null">
                [
                <span ng-repeat="pos in item.gpos">
                    <span ng-if="$index > 0">, </span>
                    {{pos}}
                </span>
                ]
            </span>
        </div>
        <div class="glossWR" ng-if="item.sens.length > 0">
            <div class="gridGloss" ng-repeat="sens in item.sens">
                <span class="rownum">{{$index + 1}}.</span>
                <span>
                    <span ng-if="sens.rdng != null" class="gridRdng" ng-repeat="rdng in sens.rdng">
                        <span ng-if="$index > 0">・</span>{{rdng}}
                    </span>
                </span>
                <span class="kanj" ng-if="sens.kanj != null">
                    <span class="jpSulg">【</span>
                    <span ng-repeat="kanj in sens.kanj">
                        <span ng-if="$index > 0">・</span>
                        <a class="clean"
                           href="http://www.romajidesu.com/dictionary/meaning-of-{{kanj}}.html"
                           target="_blank">{{kanj}}</a>
                    </span>
                    <span class="jpSulg">】</span>
                </span>
            </div>
        </div>

        <div class="estjapSentenceWR" ng-if="item.sentences.length > 0">
            <hr class="sentenceSeparate"/>
            <div class="gridSentence" ng-repeat="sentence in item.sentences">
                <span class="rownum">{{$index + 1}}.</span>
                <span class="redSentence">
                    <a class="clean" target="_blank" href="https://translate.google.com/#et/ja/{{sentence.example}}">
                        {{sentence.example}}
                    </a>
                </span>
            </div>
        </div>

        <div class="glossWR" ng-if="item.sens.length < 1">
            <i>{{'dict.notTranslated' | translate}}</i>
        </div>
    </div>
    <div ng-if="rows.length < 1">
        <i style="margin-top: 5px;float: left;">{{'dict.unknownWord' | translate}}</i>
    </div>
</div>
<style>
    div#gridEtWR {
        width:600px;
    }
    span.kanj span.jpSulg {
        font-size: 1.7em;
    }
    span.gridRdng, span.kanj span a {
        font-size: 1.5em;
    }

    span.gpos {
        margin-left:10px;
    }

    span.gtxt, span.gpos {
        font-size: 26px;
    }

    a.clean + a.clean, span.gridRdng + span.gridRdng {
        margin-left:7px;
    }
    div.gridData {
        margin-top:7px;
    }
    div.gridEntr {
        width: 600px;
        border: 2px solid #bfbfbf;
        float: left;
        padding:10px;
    }

    div.gridEntr + div.gridEntr {
        margin-top:10px;
    }

    div.gridEntr div.entrHeader, div.glossWR, div.gridGloss {
        width:100%;
    }

    div.gridGloss + div.gridGloss {
        margin-top:3px;
    }

    div.gridSentence {
        margin-top:4px;
    }

    span.rownum {
        margin-right:5px;
    }

    span.redSentence a {
        color: #600;
    }

    div.estjapSentenceWR {
        margin-top:15px;
    }

    div.glossWR {
        margin-top:10px;
        float:left;
    }

    hr.sentenceSeparate {
        margin-top: 7px;
        float: left;
        width: 100%;
    }

</style>
