<div class="ngp-nav">
    <div ng-class="['ngp-audio', {'ngp-audio-padding-right': !rateDisabled}]">
        <audio ng-src="{{getSrc()}}" class="ngp-audio-control" audioplayer controls></audio>
    </div>

    <div ng-if="!rateDisabled" class="form-inline ngp-playback-rate">
        <label for="ngp-rate" translate="global.audio.playbackRate"></label>

        <div class="form-group">
            <input class="form-control"
                   style="background-color: whitesmoke;width: 110px;"
                   id="ngp-rate"
                   type="range"
                   min="0.5"
                   max="2.0"
                   ng-model="rate"
                   step="0.1"
                   ng-change="onRateChange(rate)"/>
            <output class="ngp-rate-output">{{rate}}&times;</output>
        </div>
    </div>
</div>
